<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <style>
        #root_container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books{
            width: 50%;
            border-collapse: collapse;
        }

        table{
            margin: 25px;
        }
        th{
            text-align: left;
        }

        th,td{
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="root_container">
    <form method="post" th:action="@{/create/save}" th:object="${room}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="question" th:field="*{question}">
                </td>
                <br>
                <td>
                    <input type="text" placeholder="variants" th:field="*{variants[0]}">
                </td>
                <td>
                    <input type="text" placeholder="variants" th:field="*{variants[1]}">
                </td>
                <td>
                    <input type="text" placeholder="variants" th:field="*{variants[2]}">
                </td>
                <td>
                    <input type="text" placeholder="variants" th:field="*{variants[3]}">
                </td>
                <td>
                    <input type="text" placeholder="answer" th:field="*{answer}">
                </td>
                <td>
                    <input type="submit" value="Создать">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>